/*
 * @Author: Mr.He 
 * @Date: 2018-05-27 10:36:39 
 * @Last Modified by: Mr.He
 * @Last Modified time: 2018-05-30 13:56:04
 */

.firstScreen{
    height: 100%;
    min-height: 740px;
    background: #ccc;
    color: #fff;
    background: url("../images/bg.png") no-repeat center center;
}
@media screen and (min-width: 1920px) {
    .firstScreen{
        background-size: 100% 100%;
    }
    .screen-footer-bg{
        background-size: 100% 100%;
    }
}
.logo{
    margin-bottom: 170px;
}
.logo img{
    width: 84px;
}
.index-text-one{
    font-family: PingFangSC-Semibold;
    font-size: 48px;
}
.index-text-two{
    font-size: 22px;
}
.index-text-two strong{
    font-size: 44px;
}
.download{
    margin-bottom: 120px;
}
.btn-download{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 20px 50px;
    font-size: 24px;
    background: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    letter-spacing: 0.5px;
}
.btn-download:hover{
    background: #fff;
    color: #606060;
}
.screen-footer{
    height: 130px;
    position: relative;
    margin-top: -130px;
}
.screen-footer-bg{
    height: 100%;
    background: url("../images/index-footer-bg.png") center center;
}
.screen-box{
    overflow: hidden;
    margin-top: -130px;
    height: 130px;;
}
.screen-box div,.screen-box span{
    float: left;
}
.screen-box div{
    width: 299px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 25px;
    font-size: 18px;
    color: #FFFFFF;  
    text-align: center;  
}
.screen-box div img{
    display: block;
    width: 43px;
    margin: 0 auto 10px;
}
.screen-box span{
    width: 1px;
    height: 85px;
    opacity: 0.3;
    background: #BFBFBF;
    margin-top: 25px;
}
.screen-box div:hover{
    background: rgba(255, 255, 255, 0.1);
}