/*
 * @Author: Mr.He 
 * @Date: 2018-05-27 10:36:39 
 * @Last Modified by: Mr.He
 * @Last Modified time: 2018-05-28 11:32:56
 */

.firstScreen{
    height: 100%;
    min-height: 740px;
    background: #ccc;
    color: #fff;
    background: url("../images/bg.png") no-repeat center center;
}
@media screen and (min-width: 1920px) {
    .firstScreen{
        background-size: 100% 100%;
    }
}
.logo-text{
    font-family: Arial-Black;
    font-size: 54px;
    margin-bottom: 170px;
}
.index-text-one{
    font-family: PingFangSC-Semibold;
    font-size: 48px;
}
.index-text-two{
    font-size: 22px;
}
.index-text-two strong{
    font-size: 44px;
}
.download{
    margin-bottom: 120px;
}
.btn-download{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 20px 50px;
    font-size: 28px;
    font-weight: bold;
    background: none;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.btn-download:hover{
    background: #fff;
    color: #606060;
}
.span-box{
    overflow: hidden;
    padding-left: 318px;
}
.span-box span{
    float: left;
    margin-right: 100px;
    font-size: 26px;
    line-height: 54px;
}
.span-box span:hover b{
    animation: long 1s linear;
}
.span-box img{
    margin-left: 10px;
    margin-bottom: -15px;
}
.span-box b{
    display: block;
    height: 1px;
    margin: 0 auto;
    background: #fff;
}
@keyframes long{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}