/*
 * @Author: Mr.He 
 * @Date: 2018-05-27 14:10:36 
 * @Last Modified by: Mr.He
 * @Last Modified time: 2018-05-29 13:30:07
 */

.step{
    background: #F8F9FB;
    padding-top: 100px;
    padding-bottom: 40px;
}
.step-title{
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}
.step-ul{
    overflow: hidden;
    padding: 30px 0;
    margin-right: -30px;
}
.step-ul li{
    float: left;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.step-ul li:hover{
    background: #FFFFFF;
    box-shadow: 0 13px 40px 0 rgba(211,211,211,0.37);
}
.step-ul li:hover .step-line{
    background: #1B7DFB;
    margin-bottom: 65px;
    animation: long 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.step-ul li:hover p{
    display: block;
    animation: back 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.step-line{
    height: 4px;
    width: 0;
    margin-bottom: 65px;
}

@keyframes long{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
@keyframes back{
    from{
        margin-top: 50px;
    }
    to{
        margin-top: 0;
    }
}

.step-ul li img{
    display: block;
    width: 90px;
    margin: 0 auto 30px;
}
.step-ul li h4{
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}
.step-ul li p{
    padding: 0 20px;
    font-size: 16px;
    line-height: 33px;
    color: #546497;
    font-family: PingFangSC-Thin;
    display: none;
    margin-top: 50px;
}