/*
 * @Author: Mr.He 
 * @Date: 2018-05-27 14:56:11 
 * @Last Modified by: Mr.He
 * @Last Modified time: 2018-05-30 14:48:20
 */

.project{
    padding: 45px 0 250px;
}
.project-title{
    text-align: center;
    font-size: 32px;
    margin-bottom: 100px;
}
.project-content{
    height: 131px;
    padding-top: 131px;
    position: relative;
}
.project-line{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    border-bottom: 1px solid #D0DDF5;
}

.project-box{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.project-box span{
    position: absolute;
    width: 32px;
    height: 56px;
    z-index: 1;
}
.project-box span:nth-child(1){
    background: url("../images/up.png");
    top: -39px;
    left: 84px;
}
.project-box span:nth-child(2){
    background: url("../images/down.png");
    top: -16px;
    left: 417px;
}
.project-box span:nth-child(3){
    background: url("../images/up.png");
    top: -39px;
    left: 750px;
}
.project-box span:nth-child(4){
    background: url("../images/down.png");
    top: -16px;
    left: 1083px;
}
.project-card{
    background: #FFFFFF;
    box-shadow: 0 7px 27px 0 rgba(0,0,0,0.04);
    border-radius: 10px;
    width: 305px;
    height: 95px;
    position: absolute;
    box-sizing: border-box;
    padding: 18px 25px 0;
    opacity: 0;
}
.project-card h5{
    font-size: 22px;
    line-height: 34px;
    color: #000;
    font-weight: normal;
}
.project-card p{
    font-size: 16px;
    color: #546497;
}
.project-card:nth-of-type(1){
    top: -134px;
    left: -30px;
}
.project-card:nth-of-type(2){
    top: 40px;
    left: 278px;
}
.project-card:nth-of-type(3){
    top: -134px;
    left: 616px;
}
.project-card:nth-of-type(4){
    top: 40px;
    left: 952px;
}

.card-show{
    animation: show 0.3s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes show{
    from{
        opacity: 0;
    }
    to{
       opacity: 1;
    }
}