/*
 * @Author: Mr.He 
 * @Date: 2018-05-27 14:10:36 
 * @Last Modified by: Mr.He
 * @Last Modified time: 2018-05-28 15:03:45
 */

.step{
    background: #F8F9FB;
    padding-top: 133px;
    padding-bottom: 160px;
}
.step-title{
    font-size: 32px;
    text-align: center;
    margin-bottom: 100px;
}
.step-ul{
    overflow: hidden;
    padding: 30px 0;
    margin-right: -30px;
}
.step-ul li{
    float: left;
    width: 300px;
    height: 390px;
    margin-right: 30px;
    background: #fff;
    box-sizing: border-box;
    padding: 50px 25px 0;
    border-radius: 10px;
}
.step-ul li:hover{
    background: #FFFFFF;
    box-shadow: 0 13px 40px 0 rgba(211,211,211,0.37);
}


.step-ul li img{
    display: block;
    margin: 0 auto 30px;
}
.step-ul li h4{
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}
.step-ul li p{
    font-size: 16px;
    line-height: 20px;
    color: #546497;
    font-family: PingFangSC-Thin;
}